.card-img3{
    margin: 2px;
    border-radius: 15px;
}

.bodyCardElements{
    display: flex;
    flex-direction: column;
  

}

.bodyCardElementswrapper{
    display: flex;
    justify-content: space-between;
}

.iconoCorazon{
    float: right;
    font-size: 25px;
    color: rgba(242, 13, 13, 0.605);
}

.iconoCorazon:hover{
    transform: scale(1.2); /* Aumentar el tamaño al hacer hover */
    
}

.titulo{
    margin-top: 75px;
    margin-bottom: 80px;
    font-size: xx-large;
    color: rgb(253, 251, 251);
}

.colorbg{
    background-color: rgba(0, 0, 0, 0.399);
}






