.margins{
  margin-left: 150px;
  margin-right: 150px;
}

.planetsWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slidesImgs{
  object-fit:fill;
 height: 70vh;
  width: 150vh ;
 padding: 100px;
}

/* Estilo del contenedor de la lista de tarjetas */
.card-list-container {
  width: auto; /* Ajusta según el contenedor padre */
  height: 100%; /* Altura pequeña de las tarjetas */
  overflow-x: hidden; /* Esconde el scroll por defecto */
  margin: 20px 0;
  padding: 10px;
}

/* Estilo de la lista de tarjetas */
.card-list {

  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px; /* Espacio entre las tarjetas */
  padding-bottom: 5px;
}

/* Mostrar scroll solo al hacer hover */
.card-list-container:hover .card-list {
  overflow-x: scroll;
}

/* Estilo del scroll (scroll fino y pequeño) */
.card-list::-webkit-scrollbar {
  height: 5px;
}

.card-list::-webkit-scrollbar-track {
  background: transparent;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6); /* Color claro para visibilidad */
  border-radius: 5px;
}

/* Estilo de la tarjeta */
.card-item {
  flex: 0 0 150px;
  background-color: #0f0e0e28;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  
}

.card-item:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 100px;
  object-fit: fill;
}

.card-content {
  padding: 5px;
}

.card-title {
  font-size: 16px;
  color: #fff;
  margin: 5px 0 3px 0;
}

.card-description {
  font-size: 12px;
  color: #cfcfcf;
  margin: 0;
}

.btnSeeMore{
  border-radius: 10px;
}






