

.nav-item{
    margin: 8px;
  
}

.redondo{
    border-radius: 80%;
}

.nav-justified{
    width: 100%;
}

.linkTexts{
    font-weight:bolder  ;
    color: rgb(163, 156, 156);
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.314);
}

.deleteIcon{
    cursor: pointer;
}