.carousel-inner .carousel-item {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .carouselImg {
    width: 120vh; /* Adjust the size as needed */
    height: 50vh; /* Maintain aspect ratio */
  }

  .card-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .characterName{
    font-size:xx-large;
    font-weight: bolder;
    text-decoration: underline;
  }
  
.cardImg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}



